@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f48420;
  --secondary: #4579bc;
}

html, body {
  height: 100%;
  margin: 0;
}

.slider-container {
  height: calc(100vh - 100px);
}

.slick-slider, .slick-list, .slick-track {
  height: 100%;
}

.slick-slide > div {
  height: 100%;
}